.container {
  width: 1110px;
  margin: 0 auto;
}

.header {
  background-color: #012D63;
}
.header .logotype {
  margin-top: 16px;
  margin-bottom: 17px;
  width: 100px;
  height: 60px;
}
.header .header-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 29px;
}
.header .header-items {
  color: #C7C7C7;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
}
.header .active:hover,
.header .header-items:hover {
  color: #FFFFFF;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.header .language-list li {
  display: inline-block;
  margin-right: 10px;
}
.header .language-list:last-child {
  margin-right: 0;
}
.header .UA {
  color: #C7C7C7;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
}
.header .Eng {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.header .active {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.intro-section {
  background-image: url("../photo/2.jpg");
  background-size: cover;
  padding: 50px;
}
.intro-section .brand-info {
  padding-top: 94px;
}
.intro-section .brand-info .logotype2 {
  width: 160px;
  height: 120px;
}
.intro-section .brand-info .brand-name {
  font-family: "PT Serif", serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  text-align: left;
  color: #FFFFFF;
  margin-left: 25px;
  margin-top: -30px;
}
.intro-section .brand-info .main-title {
  font-family: "Playfair Display", serif;
  font-size: 144px;
  font-weight: 400;
  line-height: 192px;
  text-align: left;
  color: #FFFFFF;
  margin-top: -60px;
  margin-left: -15px;
}
.intro-section .brand-info .subtitle {
  font-family: "Playfair Display", serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 96px;
  text-align: left;
  color: #FFFFFF;
  margin-top: -110px;
}
.intro-section .brand-info .description {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #FFFFFF;
  margin-top: -40px;
  margin-left: 3px;
}
.intro-section .brand-info .cta-button {
  background: #8E32C6;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  width: 254px;
  height: 67px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  margin-top: 41px;
  margin-bottom: 183px;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  transition: background-color 0.3s, transform 0.3s, -webkit-transform 0.3s;
}
.intro-section .brand-info .cta-button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.intro-section .brand-info .cta-button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.feature-section {
  background-image: url("../photo/6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.feature-section .feature {
  margin-top: 105px;
  margin-bottom: 105px;
}
.feature-section .feature .feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: #8E32C6 5px solid;
  padding: 0;
  margin: 0;
}
.feature-section .feature .feature-list .feature-item {
  text-align: center;
  margin: 25px 50px;
}
.feature-section .feature .feature-list .feature-item.line {
  border-left: white 1px solid;
  border-right: white 1px solid;
  padding-left: 95px;
  padding-right: 95px;
  margin: 0;
}
.feature-section .feature .feature-list .feature-item .feature-title {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}
.feature-section .feature .feature-list .feature-item .feature-image {
  width: 240px;
  height: 240px;
}

.reviews-section {
  background-image: url("../photo/5.svg"), url("../photo/6.jpg");
  background-size: auto, cover;
  background-position: left bottom, center;
  background-repeat: no-repeat, no-repeat;
}
.reviews-section .section-title {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 2px;
  padding: 25px 0;
}
.reviews-section .review-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
}
.reviews-section .review-list .review-item {
  text-align: center;
  width: 255px;
  border-radius: 15px;
  margin-bottom: 114px;
  padding: 49px 13px 29px 13px;
  -webkit-transition-duration: 700ms;
          transition-duration: 700ms;
}
.reviews-section .review-list .review-item-1 {
  background: linear-gradient(136.55deg, #00e5e6 7.29%, #00a8f7 26.04%, #9a76f9 62.5%, #cc5ec2 100%);
  -webkit-box-shadow: 0px 14px 0px -5px #7b54b2;
          box-shadow: 0px 14px 0px -5px #7b54b2;
}
.reviews-section .review-list .review-item-2 {
  background: linear-gradient(136.55deg, #ff68b4 0%, #ff45e1 26.04%, #ce3aff 62.84%, #8961ff 100%);
  -webkit-box-shadow: 0px 14px 0px -5px #9159b1;
          box-shadow: 0px 14px 0px -5px #9159b1;
}
.reviews-section .review-list .review-item-3 {
  background: linear-gradient(142.67deg, #ffe128 0%, #ff9b5c 30.21%, #ff8381 63.29%, #ff5489 100%);
  -webkit-box-shadow: 0px 14px 0px -5px #b95a4c;
          box-shadow: 0px 14px 0px -5px #b95a4c;
}
.reviews-section .review-list .review-item:not(:last-child) {
  margin-right: 93px;
}
.reviews-section .review-list .review-item .review-title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #FFFFFF;
}
.reviews-section .review-list .review-item .review-date {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #D8D8D8;
  margin-top: -12px;
}
.reviews-section .review-list .review-item .profile-picture {
  position: relative;
  top: 55px;
  right: 100px;
}
.reviews-section .review-list .review-item .review-author {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #FFFFFF;
  margin-left: 35px;
  margin-top: 20px;
}
.reviews-section .review-list .review-item .review-membership {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: #D8D8D8;
  margin-left: 35px;
  margin-top: -15px;
}

.order-section {
  background-image: url("../photo/11.jpg");
  background-size: cover;
}
.order-section .order-title {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 20px;
  margin: 2px 0 0 0;
}
.order-section .order-list {
  text-align: center;
  margin: 0;
  padding-bottom: 37px;
  padding-left: 0;
}
.order-section .order-list .order-item {
  margin-bottom: 19px;
}
.order-section .order-list .order-user-text {
  padding: 0 25px;
  color: #959595;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 33px;
  border-radius: 50px;
  border: none;
}
.order-section .order-list .order-user-text::-webkit-input-placeholder {
  color: #959595;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 33px;
}
.order-section .order-list .order-user-text::-moz-placeholder {
  color: #959595;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 33px;
}
.order-section .order-list .order-user-text:-ms-input-placeholder {
  color: #959595;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 33px;
}
.order-section .order-list .order-user-text::-ms-input-placeholder {
  color: #959595;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 33px;
}
.order-section .order-list .order-user-text::placeholder {
  color: #959595;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 33px;
}
.order-section .order-list .order-user-text:focus {
  outline: none;
}
.order-section .order-list .email {
  width: 690px;
  height: 60px;
  padding-right: 220px;
}
.order-section .order-list .order-other-information {
  width: 580px;
  height: 50px;
}
.order-section .order-list .confirmation-button {
  color: #959595;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 33px;
  position: relative;
  top: 55px;
  left: 220px;
  width: 100px;
  height: 50px;
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
}
.order-section .order-list .order-button {
  width: 248px;
  height: 68px;
  border-radius: 16px;
  background: #8E32C6;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  margin: 0 auto;
  display: block;
  border: none;
  margin-top: 19px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  transition: background-color 0.3s, transform 0.3s, -webkit-transform 0.3s;
}
.order-section .order-list .order-button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.order-section .order-list .order-button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.footer {
  background: #021635;
  margin-top: -16px;
}
.footer .footer-list {
  padding: 45px 0;
  margin: 0;
}
.footer .footer-list::after {
  content: "";
  background-color: #9B9B9B;
  height: 1px;
  display: block;
  width: auto;
  position: relative;
  top: 20px;
}
.footer .footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
.footer .footer-item:last-child {
  margin: 0;
}
.footer .footer-title {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #FFFFFF;
  margin: 0;
}
.footer .footer-email {
  text-decoration-line: underline;
}
.footer .footer-copyright-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer-copyright {
  padding: 0;
  margin: 0;
}
.footer .footer-text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #FFFFFF;
}
.footer .footer-brand-list {
  position: relative;
  bottom: 30px;
  left: 15px;
}
.footer .footer-brand-list .footer-brand {
  position: relative;
  top: -10px;
  left: 25px;
}

.text-focus-in {
  -webkit-animation: text-focus-in 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: text-focus-in 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) both;
          animation: tracking-in-expand 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.4em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.4em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */