/* IMPORTANT */

:root {
    --color-primary: #012D63;
    --color-secondary: #2196F3;
    --color-tertiary: #FFFFFF;
    --color-text: #C7C7C7;
    --color-hover: #8E32C6;
    --color-bg: #021635;
    --color-date: #D8D8D8;
}

li {
    list-style-type: none;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

/* Header */

.header {
    background-color: var(--color-primary);
}

.logotype {
    margin-top: 16px;
    margin-bottom: 17px;
    width: 100px;
    height: 60px;
}

.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 0 49px;
}

.active {
    color: var(--color-tertiary);
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    font-size: 24px;
}

.header-items {
    color: var(--color-text);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 24px;
}

.language-list li{
    display: inline-block;
    margin-right: 10px;
}

.language-list:last-child {
    margin-right: 0;
}


.UA {
    color: var(--color-text);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 24px;
}

.Eng {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

/* MAIN 1st Section */

.main{

}

.intro-section {
    background-image: url('photo/2.jpg');
    background-size: cover;
    padding: 50px;
}

.brand-info{
    padding-top: 94px;
}

.logotype2 {
    width: 160px;
    height: 120px;
}

.brand-name{
    font-family: PT Serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-tertiary);
    margin-left: 25px;
    margin-top: -30px;
}

.main-title{
    font-family: Playfair Display;
    font-size: 144px;
    font-weight: 400;
    line-height: 192px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-tertiary);
    margin-top: -60px;
    margin-left: -15px;
}

.subtitle{
    font-family: Playfair Display;
    font-size: 72px;
    font-weight: 400;
    line-height: 96px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-tertiary);
    margin-top: -110px;
}

.description{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-tertiary);
    margin-top: -40px;
    margin-left: 3px;
}

.cta-button{
    background: var(--color-hover);
    color: var(--color-tertiary);
    cursor: pointer;
    border: none;
    width: 254px;
    height: 67px;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 41px;
    margin-bottom: 183px;
}

/* MAIN 2nd Section */

.feature-section {    
    background-image: url('photo/6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.feature-list {
    display: flex;
    gap: 145px;
    border: 5px solid var(--button-color);
    padding: 22px;
    margin-top: -40px;
    align-items: center;
    justify-content: center;
    border: var(--color-hover) 5px solid;
}

.feature-item {
    text-align: center;
    margin: 105px 165px;
    
}

.line {
    border-left: white 1px solid;
    border-right: white 1px solid;
}

.feature-title {
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-tertiary);
    margin-right: 145px;
}

.feature-image {
    width: 240px;
    height: 240px;
}

/* MAIN 3nd Section */

.reviews-section{
    background-image: url('photo/6.jpg');
    background-size: cover;
    padding: 50px;
}

.section-title {
    font-family: Playfair Display;
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-tertiary);
}

.review-item {

}

.review-title {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-tertiary);
}

.review-date {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-date);
}

.profile-picture {

}

.review-author {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-tertiary);
}

.review-membership {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-tertiary);
}

/* MAIN 4nd Section */

.order-section{
    background-image: url('photo/11.jpg');
    background-size: cover;
    padding: 50px;
}

.order-title{
    font-family: Playfair Display;
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-tertiary);

}

.Order-button{
    width: 248px;
    height: 68px;
    top: 2546px;
    left: 596px;
    border-radius: 16px;
    background: var(--color-hover);
    color:  var(--color-tertiary);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}

/* FOOTER */

.footer {
    background: var(--color-bg);
}

.footer-section {
    
}

.footer-title {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-tertiary);
}

.footer-text {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-tertiary);
}

.footer-brand {

}