$color-primary: #012D63;
$color-secondary: #2196F3;
$color-tertiary: #FFFFFF;
$color-text: #C7C7C7;
$color-hover: #8E32C6;
$color-bg: #021635;
$color-date: #D8D8D8;
$order-text: #959595;
$color-footer-line: #9B9B9B;